@import 'styles/variables';

.detail {
  border-radius: $radius-sm;
  box-shadow: $shadow;
  max-width: $max-width;
  padding: $spacing-md;
  background-color: white;

  &__body {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: $spacing-md;
    margin-bottom: $spacing-md;
  }

  &__image {
    background-color: $grey;
    border-radius: $radius-sm;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &__content {
    
    .pill-group {
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      gap: $spacing-sm;
      padding: 0;
      margin-top: 0;
  
      > li {
        border-radius: 2rem;
        color: white;
        text-align: center;
        padding: $spacing-xs $spacing-sm;
      }
  
      &.abilities > li {
        background-color: $cyan;
      }
  
      &.stats > li {
        background-color: $green;
      }
  
    }
    
  }

  &__more-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: $spacing-md;
    padding: $spacing-md;
    background-color: $cyan-light;
    border-radius: $radius-sm;
    
    .info-group {
      p {
        margin-top: 0;
        margin-bottom: $spacing-xs;
      }
      &__heading {
        color:$cyan-dark;
        font-weight: 600;
      }
    }
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}